<div class="container mt-5">
    <div class="row">
        <div class="col-lg offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary float-end"
                        (click)="openPopup()">Agregar sucursal
                    </button>
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Municipio</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sucursal of sucursales;let i=index">
                                <th scope="row">1</th>
                                <td>{{sucursal.nombreSucursal}}</td>
                                <td>{{sucursal.direccion}}</td>
                                <td>{{sucursal.municipioId}}</td>
                                <td>{{sucursal.departamentoId}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="sucursales.length == 0" class="row mt-5">
                        <h5>No hay sucursales para mostrar</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar sucursal</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="agregarSucursal()" #empresaData="ngForm">
                    <div class="row g-3">
                        <div class="col">
                            <legend class="col-form-label col-lg-6 pt-0"><strong>Nombre sucursal</strong></legend>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-id-card"
                                            [class.green-icon]="this.form.get('nombreSucursal')?.valid"
                                            [class.red-icon]="this.form.get('nombreSucursal')?.invalid && this.form.get('nombreSucursal')?.touched">
                                        </i>
                                    </span>
                                </div>
                                <input formControlName="nombreSucursal" type="text" class="form-control"
                                    placeholder="Nombre sucursal">
                            </div>

                        </div>
                        <div class="col">
                            <legend class="col-form-label col-lg-6 pt-0"><strong>Dirección</strong></legend>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-location-dot"
                                            [class.green-icon]="this.form.get('direccion')?.valid"
                                            [class.red-icon]="this.form.get('direccion')?.invalid && this.form.get('direccion')?.touched"></i>
                                    </span>
                                </div>
                                <input formControlName="direccion" type="text" class="form-control"
                                    placeholder="Dirección">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            <legend class="col-form-label col-lg-8 pt-0"><strong>Municipio</strong></legend>
                            <select formControlName="municipioId" class="form-select form-select-sm"
                                aria-label=".form-select-sm example" (change)="onChangeCity($event)">
                                <option selected="selected">Seleccione el municipio</option>
                                <option *ngFor="let municipio of municipios" value="{{municipio.id}}">
                                    {{municipio.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <legend class="col-form-label col-lg-8 pt-0"><strong>Departamento</strong></legend>
                            <select formControlName="departamentoId" class="form-select form-select-sm"
                                aria-label=".form-select-sm example" (change)="onChangeDepartament($event)">
                                <option selected="selected">Seleccione el departamento</option>
                                <option *ngFor="let departamento of departamentos" value="{{departamento.id}}">
                                    {{departamento.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button [disabled]="this.form.invalid" type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>