<div class="container mt-5">
  <div class="row">
    <div class="col-lg offset-lg">
      <div class="card">
        <div class="card-body text-center">
          <form [formGroup]="form" (ngSubmit)="agregarPerfil()">
            <h1>Agregar directores ejecutivos</h1><br>
            <div class="row g-3">
              <div class="col">
                <div class="input-group mb-3">
                  <div  class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span><input formControlName="nombreceo" type="text" class="form-control" placeholder="Nombre CEO">
                  </div>
                  
                </div>
              </div>

              <div class="col">
                <div class="input-group mb-3">
                  <div  class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span><input formControlName="directorareaLista" type="text" class="form-control"
                    placeholder="Nombre director">
                  </div>
                  
                </div>
              </div>

              <div class="col">
                <div class="input-group mb-3">
                  <div  class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span><input formControlName="nombregerente" type="text" class="form-control" placeholder="Nombre gerente">
                  </div>
                  
                </div>
              </div>

              <div class="row g-3">
                <div class="col">
                  <div class="input-group mb-3">
                    <div  class="input-group input-group-lg mb-3">
                      <span class="input-group-text">
                        <i class="fa-regular fa-user">
                        </i>
                      </span> <input formControlName="escritura" type="text" class="form-control" placeholder="Escrituras">
                    </div>
                   
                  </div>
                </div>

                <div class="col">
                  <div class="input-group mb-3">
                    <div  class="input-group input-group-lg mb-3">
                      <span class="input-group-text">
                        <i class="fa-regular fa-user">
                        </i>
                      </span><input formControlName="razonsocial" type="text" class="form-control" placeholder="Razón social">
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-success">Guardar</button>
            </div><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Datos de la empresa proveedora</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div> -->