<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Lista de Productos</h3>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="row mt-4"></div>
    <div class="col lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button (click)="nuevo()" class="btn btn-primary">Agregar Nuevo</button>

                </div>


 <div class="row">
                            <div class="col lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Buscar Producto" #txtSearch
                                    (keyup)="onSearchPokemon( txtSearch.value )" />
                                </div>
                            </div>
                            <div class="col lg-5">
                                
                            </div>
                        </div>
                        




                


                <table class="table" class="table table-striped table-hover " >

                    <thead>
                        <th [ngStyle]="{'width':'300px'}">Nombre </th>
                        <th [ngStyle]="{'width':'250px'}">Marca</th>
                        <th [ngStyle]="{'width':'200px'}">Precio</th>
                        <th [ngStyle]="{'width':'250px'}">Categoria</th>
                        
                        <th >Acciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listProducto | filtroProducto:page:search">
                            <td>{{producto.nombreprod}}</td>
                            <td>{{producto.marcaprod }}</td>
                            <td>{{producto.precioprod | currency}}</td>
                            <td>{{producto.categoriaNombre}}</td>

                            <td>
                                <i (click)="editarProducto(producto)" class="far fa-edit text-info"></i>
                            </td>
                            <td>
                                <i (click)="eliminarProducto(producto.idproducto)"
                                    class="far fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-link" (click)="prevPage()">
                        Anteriores
                    </button>
                    &nbsp;
                    <button class="btn btn-link" (click)="nextPage()"
                        [disabled]="(listProducto|filtroProducto:page:search).length===0">
                        Siguientes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>