<div class="row mt-4">
  <div class="col lg-6">
      <div class="card">
           <div class="card-body">
             <div class="row mt-3">
  <div class="col-lg-6">
      <h3>Listado de empresas</h3>
  </div>
  <div class="col-lg-6">
      <button class="btn btn-primary float-end" routerLink="/app-crear-empresa">Nueva empresa</button>
  </div>
</div>


<table class="table table-hover mt-3">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Representante</th>
    <th scope="col">Rubro</th>
    <th scope="col">Acciones</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let empresa of empresas">
    <th scope="row">1</th>
    <td>{{empresa.nombre}}</td>
    <td>{{empresa.representante}}</td>
    <td>{{empresa.rubro}}</td>
    <td><i class="far fa-edit text-info"></i></td>
    <td><i class="fa-solid fa-trash-can text-danger"></i></td>
  </tr>
</tbody>
</table>
<div *ngIf="empresas.length == 0" class="row mt-5">
  <h5>No hay comentarios para mostrar</h5>
</div>
  
           </div>
      </div>
  </div>
</div>

