<div class="container mt-5">
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-body text-center">
          <form [formGroup]="form" (ngSubmit)="agregarEmpresa()" #empresaData="ngForm">
            <h1>{{msj}} Empresa</h1>
            <h2>Datos de la empresa proveedora</h2>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-id-card">
                      </i>
                    </span><input formControlName="nit" type="text" class="form-control" placeholder="NIT">
                  </div>
                 
                </div>

              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span><input formControlName="nombreproveedor" type="text" class="form-control"
                    placeholder="Nombre de la compañia proveedora">
                  </div>
                  
                </div>
              </div>

              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span><input formControlName="representante" type="text" class="form-control"
                    placeholder="Representante">
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-location-dot"></i>
                    </span><input formControlName="direccionCompania" type="text" class="form-control"
                    placeholder="Dirección">
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-envelope"></i>
                    </span><input formControlName="email" type="text" class="form-control" placeholder="Email">
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-phone">
                      </i>
                    </span><input formControlName="telefonoCompania" type="text" class="form-control"
                    placeholder="Teléfono">
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="row g-3">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-fax">
                      </i></span><input formControlName="faxCompania" type="text" class="form-control" placeholder="Fax">
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-mobile-retro">

                      </i></span> <input formControlName="movilCompania" type="text" class="form-control"
                    placeholder="Teléfono móvil">
                  </div>
                 
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-brands fa-chrome"></i>
                    </span> <input formControlName="website" type="text" class="form-control" placeholder="Sitio web">
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="row g-3">
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-id-card">
                      </i>
                    </span><input formControlName="nrc" type="text" class="form-control" placeholder="NRC">
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-regular fa-user">
                      </i>
                    </span>  <input formControlName="rubro" type="text" class="form-control" placeholder="Rubro">
                  </div>
                
                </div>
              </div>
              <div class="col">
                <select formControlName="tipoOrganizacion" class="form-select form-select-sm"
                  aria-label=".form-select-sm example">
                  <option selected="selected">Seleccione el tipo de empresa</option>
                  <option *ngFor="let empresa of organizaciones" value="{{empresa.id}}">{{empresa.nombre}}
                  </option>
                </select>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

          <!-- <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary float-end"
            (click)="openPopup()">Nueva
            empresa
          </button> -->
          <!-- <app-listado-empresas [empresas]="lista"></app-listado-empresas> -->
          <!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Datos de la empresa proveedora</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div> -->